{% extends 'webapp/base.html' %}


{% block content %}

<body>
    
    <br>
    <br>

    <div class="text-center">
        <h2> CRM Project </h2>
        <br>
        <h3> Management at it's finest!!! </h3>
        <br>
        <h5> Keep track of your customer records efficiently</h5>
        <hr>
        <br>

        <a class="btn btn-primary" type="button" href="{% url 'register' %}"> Create your account <i class="fa-solid fa-user-plus"></i></a>
        &nbsp;
        <a class="btn btn-primary" type="button" href="{% url 'my-login' %}"> Login <i class="fa-solid fa-door-open"></i></a>
    </div>


</body>

{% endblock %}